body {
    background-image: url(../assets/img/home-iron-man.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #310B0B;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

img { 
    border-radius: 50%;
}

a {
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    font-size: 20px;
    font-family: "Fira Code", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    text-shadow: #FFF 1px 0 3px;
}

.anchor::before {
    content: "";
    background-color: #4795b9;
    box-shadow: 0 0 10px 5px #4795b9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.title-box {
    position: absolute;
    left: 91px;
    top: 200px;
    width: 600px;
    height: 190px;
    background-color: #394043;
    filter: drop-shadow(10px 10px 0px #000000);
}

.heading-2 {
    margin: 5% 5% 3%;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0px #000000;
 }
 
