.action {
    display: inline-flex;
    color: #FFFFFF;
    align-items: center;
    font-size: 20px;
    font-family: "Fira Code", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action:hover {
    text-shadow: #FFF 1px 0 3px;
}

.action::before {
    content: "";
    background-color: #4795b9;
    box-shadow: 0 0 10px 5px #4795b9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}