.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/home-iron-man.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    height: 1000px;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box {
     margin-bottom: 40px;
    
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}

