
 .button {
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    background-color: #f25a70;
    transition: 600ms cubic-bezier(0.58, 0, 0.45, 0.64);
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 0 10px 5px #640520;
}

