
 .button {
    display: inline-block;
    margin-right: 0;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    background-color: #f25a70;
    transition: 600ms cubic-bezier(0.58, 0, 0.45, 0.64);
}

.button:hover {
    box-shadow: 0 0 10px 5px #640520;
}

.download-box {
    position: absolute;
    left: 190px;
    top: 435px;
    width: 150px;
    display: inline-block;
    text-align: center;
    padding: 18px 18px;
    box-shadow: 5px 5px 0 #000;
    background-color: #f25a70;
    transition: 600ms cubic-bezier(0.58, 0, 0.45, 0.64);
    cursor: pointer;
 }

.contatos-box {
    position: absolute;
    left: 450px;
    top: 435px;
    width: 150px;
    display: inline-block;
    text-align: center;
    padding: 18px 18px;
    box-shadow: 5px 5px 0 #000;
    background-color: #f25a70;
    transition: 600ms cubic-bezier(0.58, 0, 0.45, 0.64);
    cursor: pointer;
 }

.download-box:hover {
    box-shadow: 0 0 10px 5px #640520;
 }

.contatos-box:hover {
    box-shadow: 0 0 10px 5px #640520;
 }

