.header {
    display: flex;
    justify-content: space-between;
    background-color: #310B0B;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
 
.header img {
    border-radius: 50%;
}
