
.heading-1 {
    margin: 5% 5% 3%;
    text-align: center;
    color: #f25a70;
    font-weight: 400;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0px #000000;
 }